<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=contosoadsstorageac;AccountKey=xaMSey64C3K4S583dtkBbpBklG+lF21Hf2u4RtC0Tl5biEIP4ZU81FktcbEoxJb/iBrDylTA+CwxVnDkunJ/fQ==" />


  </appSettings>
</configuration>